<?xml version="1.0" encoding="utf8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cuit.pymjl.core.mapper.department.DepartmentMapper">
    <resultMap id="departmentMap" type="cuit.pymjl.core.entity.department.Department">
        <id column="id" property="id"/>
        <result column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
        <result column="department_num" property="departmentNum"/>
        <result column="department_boss_id" property="departmentBossId"/>
    </resultMap>

    <resultMap id="departmentStaffMap" type="cuit.pymjl.core.entity.department.DepartmentStaff">
        <id column="id" property="id"/>
        <result column="staff_id" property="staffId"/>
        <result column="staff_name" property="staffName"/>
        <result column="staff_position" property="staffPosition"/>
        <result column="staff_department_id" property="staffDepartmentId"/>
        <result column="staff_department_name" property="staffDepartmentName"/>
    </resultMap>

    <resultMap id="staffAttendanceMap" type="cuit.pymjl.core.entity.department.StaffAttendance">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="department_id" property="departmentId"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="staffInformationMap" type="cuit.pymjl.core.entity.department.StaffAttendenceDTO">
        <id column="id" property="id"/>
        <result column="avatar" property="avatar"/>
        <result column="username" property="username"/>
        <result column="staff_department_name" property="departmentName"/>
        <result column="account" property="account"/>
    </resultMap>

    <resultMap id="staffMap" type="cuit.pymjl.core.entity.department.Staff">
        <result column="department_id" property="departmentId"/>
        <result column="faculty_id" property="facultyId"/>
    </resultMap>

    <select id="getStaff" parameterType="int" resultMap="staffMap">
        select department_id,faculty_id
        from t_faculty_details
        where department_id =(
            select staff_department_id
            from t_department_staff
            where staff_id=#{staffId}
        )
    </select>

    <select id="getDepartment" parameterType="int" resultMap="departmentMap">
        select department_id,department_name,department_boss_name,department_boss_id,department_num
        from t_department where  department_id=#{departmentId}
    </select>

    <insert id="addDepartment" parameterType="cuit.pymjl.core.entity.department.Department">
        insert into t_department(department_id,department_name,department_boss_name) values(#{id},#{name},#{boss})
    </insert>

    <select id="getDepartmentStaff" parameterType="int" resultMap="departmentStaffMap">
        select * from t_department_staff where staff_department_id=#{staffDepartmentId}
    </select>

    <select id="getDepartmentInformation" parameterType="int" resultMap="departmentMap">
        select *
        from t_department where department_id=#{departmentId}
    </select>

    <select id="getStaffAttendance" parameterType="int" resultMap="staffAttendanceMap">
        select user_id,department_id,status from t_attendance_personal where department_id=#{staffDepartmentId}
    </select>

    <update id="updateDepartmentStaff" parameterType="cuit.pymjl.core.entity.department.DepartmentStaff">
        update t_department_staff set staff_leave_num=#{staffLeaveNum},staff_late_num=#{staffLateNum},update_time=now()
        where staff_id=#{staffId}
    </update>

    <select id="getAllStaffInformation" resultMap="staffInformationMap">
        select avatar,t_user.id id,username,staff_department_name,account from t_user join t_department_staff on t_user.id=t_department_staff.id
    </select>

    <select id="getStaffAttendanceById" parameterType="int" resultMap="staffAttendanceMap">
        select user_id,department_id,status from t_attendance_personal where user_id=#{staffId}
    </select>
</mapper>