<?xml version="1.0" encoding="utf8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cuit.pymjl.core.mapper.department.DepartmentMapper">
    <resultMap id="departmentMap" type="cuit.pymjl.core.entity.department.Department">
        <id column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
        <result column="department_num" property="departmentNum"/>
        <result column="department_boss_name" property="departmentBossName"/>
        <result column="department_boss_id" property="departmentBossId"/>
    </resultMap>

    <resultMap id="departmentStaffMap" type="cuit.pymjl.core.entity.department.DepartmentStaff">
        <id column="staff_id" property="staffId"/>
        <result column="staff_name" property="staffName"/>
        <result column="staff_position" property="staffPosition"/>
        <result column="staff_department_id" property="staffDepartmentId"/>
        <result column="staff_leave_num" property="staffLeaveNum"/>
        <result column="staff_late_num" property="staffLateNum"/>
    </resultMap>

    <resultMap id="staffMap" type="cuit.pymjl.core.entity.department.Staff">
        <id column="staff_id" property="staffId"/>
        <result column="staff_name" property="staffName"/>
        <result column="staff_sex" property="staffSex"/>
        <result column="staff_age" property="staffAge"/>
        <result column="staff_department_id" property="staffDepartmentId"/>
        <result column="staff_phone_number" property="staffPhoneNumber"/>
    </resultMap>

    <select id="getDepartment" parameterType="int" resultMap="departmentMap">
        select department_id,department_name,department_boss_name,department_boss_id,department_num
        from t_department where  department_id=#{departmentId}
    </select>

    <insert id="addDepartment" parameterType="cuit.pymjl.core.entity.department.Department">
        insert into t_department(department_id,department_name,department_boss_name) values(#{id},#{name},#{boss})
    </insert>

    <select id="getDepartmentStaff" parameterType="int" resultMap="departmentStaffMap">
        select * from t_department_staff where staff_department_id=#{staffDepartmentId}
    </select>

    <select id="getDepartmentInformation" parameterType="int" resultMap="departmentMap">
        select department_id,department_name,department_boss_name,department_boss_id,department_num
        from t_department where department_id=#{departmentId}
    </select>

    <select id="getStaffInformation" parameterType="int" resultMap="staffMap">
        select *
        from t_staff where staff_department_id=#{staffDepartmentId}
    </select>
</mapper>