<?xml version="1.0" encoding="utf8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cuit.pymjl.core.mapper.faculty.FacultyMapper">
    <resultMap id="facultyMap" type="cuit.pymjl.core.entity.faculty.Faculty">
        <id column="id" property="id"/>
        <result column="faculty_name" property="facultyName"/>
        <result column="faculty_head" property="facultyHead"/>
    </resultMap>

    <resultMap id="facultyDetailsMap" type="Map">
        <id column="id" property="id"/>
        <result column="faculty_id" property="facultyId"/>
        <result column="department_id" property="departmentId"/>
    </resultMap>
    
    <insert id="addDepartment" parameterType="cuit.pymjl.core.entity.faculty.FacultyDetails">
        insert into t_faculty_details(faculty_id, department_id)
        values(#{facultyId}, #{departmentId})
    </insert>

    <insert id="addDepartment1" parameterType="cuit.pymjl.core.entity.faculty.FacultyDepartment">
        insert into t_department(department_id, department_name, department_num, department_boss_id, create_time, update_time)
        values (#{departmentId}, #{departmentName}, null, #{departmentBossId}, now(), now())
    </insert>

    <delete id="delDepartment">
        delete t_faculty_details,t_department
        from t_faculty_details,t_department
        where t_faculty_details.department_id=t_department.department_id AND t_faculty_details.department_id = #{departmentId}
    </delete>
    
    <select id="getDepartmentId" resultMap="facultyDetailsMap">
        select department_id
        from t_faculty_details
        where faculty_id = #{facultyId}
    </select>

</mapper>