<?xml version="1.0" encoding="utf8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cuit.pymjl.core.mapper.finance.FinanceMapper">
    <resultMap id="wageMap" type="cuit.pymjl.core.entity.finance.BasicWage">
        <id property="id" column="id" />
        <result property="commonWage" column="common_wage" />
        <result property="managerWage" column="manager_wage" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <resultMap id="wageSheetMap" type="cuit.pymjl.core.entity.finance.WageDetails">
        <id property="id" column="id"/>
        <result property="employeeId" column="employee_id" />
        <result property="name" column="name"/>
        <result property="basicWage" column="basic_wage"/>
        <result property="bonus" column="bonus"/>
        <result property="fine" column="fine"/>
        <result property="tax" column="tax"/>
        <result property="sumWage" column="sum_wage"/>
        <result property="accountNumber" column="account_number"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
        <result property="departmentName" column="department_name" />
    </resultMap>

    <select id="queryBasicWage" resultMap="wageMap">
        select *
        from t_basic_wage
    </select>

    <update id="updateBasicWage">
        update t_basic_wage
        <trim prefix="set" suffixOverrides=",">
            <if test="basicWage.managerWage != null">manager_wage=#{basicWage.managerWage},</if>
            <if test="basicWage.commonWage != null">common_wage=#{basicWage.commonWage},</if>
            <if test="basicWage.updateTime != null">update_time=#{basicWage.updateTime}</if>
        </trim>
        where id=1
    </update>

    <insert id="addWageSheet" parameterType="cuit.pymjl.core.entity.finance.WageDetails">
        insert into t_wage_details(employee_id, name, basic_wage, bonus, fine, tax, sum_wage, account_number, create_time, status, department_name)
        values (#{employeeId}, #{name}, #{basicWage}, #{bonus}, #{fine}, #{tax}, #{sumWage}, #{accountNumber}, #{createTime}, #{status}, #{departmentName})
    </insert>

    <select id="queryAllWageSheet" resultMap="wageSheetMap">
        select *
        from t_wage_details
    </select>

    <select id="queryWageSheetById" resultMap="wageSheetMap">
        select *
        from t_wage_details
        where employee_id=#{id}
    </select>
</mapper>