<?xml version="1.0" encoding="utf8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cuit.pymjl.core.mapper.finance.FinanceMapper">
    <resultMap id="wageMap" type="cuit.pymjl.core.entity.finance.BasicWage">
        <id property="id" column="id" />
        <result property="commonWage" column="common_wage" />
        <result property="managerWage" column="manager_wage" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <select id="queryBasicWage" resultMap="wageMap">
        select *
        from t_basic_wage
    </select>

    <update id="updateBasicWage">
        update t_basic_wage
        <trim prefix="set" suffixOverrides=",">
            <if test="basicWage.managerWage != null">manager_wage=#{basicWage.managerWage},</if>
            <if test="basicWage.commonWage != null">common_wage=#{basicWage.commonWage},</if>
            <if test="basicWage.updateTime != null">update_time=#{basicWage.updateTime}</if>
        </trim>
        where id=1
    </update>
</mapper>