<?xml version="1.0" encoding="utf8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cuit.pymjl.core.mapper.user.UserMapper">
    <resultMap id="userMap" type="cuit.pymjl.core.entity.user.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="account" property="account"/>
        <result column="identity" property="identity"/>
        <result column="phone" property="phone"/>
        <result column="nickname" property="nickname"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="addUser" parameterType="cuit.pymjl.core.entity.user.User">
        insert into t_user(username, password, nickname, gender, age, phone, account, identity, create_time,
                           update_time)
        values (#{username}, #{password}, #{nickname}, #{gender}, #{age}, #{phone}, #{account}, #{identity}, now(),
                now())
    </insert>

    <select id="queryUsers" resultMap="userMap">
        select *
        from t_user
    </select>

    <select id="selectUserNumbers" resultType="java.lang.Integer">
        select count(*)
        from t_user
    </select>


</mapper>