<?xml version="1.0" encoding="utf8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cuit.pymjl.core.mapper.employee.EmployeeMapper">
    <resultMap id="EmployeeMap" type="cuit.pymjl.core.entity.employee.Employee">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="department_id" property="departmentId"/>
        <result column="faculty_id" property="facultyId"/>
        <result column="working_hours" property="workingHours"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="addClockIn" parameterType="cuit.pymjl.core.entity.employee.Employee">
        insert into t_attendance_personal(user_id, department_id, faculty_id, status, create_time, update_time)
        values (#{userId}, #{departmentId}, #{facultyId}, 1, now(), now())
    </insert>

    <update id="upClockOut">
        update t_attendance_personal
        set update_time = #{updateTime}, working_hours = #{workHours}, status = #{status}
        where user_id = #{userId} and create_time = #{createTime}
    </update>

    <select id="queryTodayAttendance" resultMap="EmployeeMap">
        select *
        from t_attendance_personal
        <!--
        where user_id = #{userId} and convert(create_time,DATE) like concat(#{createTime},'%')
        -->
        where user_id = #{userId} and date_format(create_time,'%Y-%m-%d') = date_format(now(),'%Y-%m-%d')
    </select>

    <select id="queryPersonalAttendance" resultMap="EmployeeMap">
        select *
        from t_attendance_personal
        where user_id = #{userId} and date_format(create_time, '%Y-%m') = date_format(now(), '%Y-%m')
    </select>

    <select id="queryDayOffNumber" resultType="java.lang.Integer">
        select count(*)
        from t_attendance_personal
        where user_id = #{userId} and status = 0 and date_format(create_time, '%Y-%m') = date_format(now(), '%Y-%m')
    </select>

    <select id="queryLeaveNumber" resultType="java.lang.Integer">
        select count(*)
        from t_attendance_personal
        where user_id = #{userId} and status = -1 and date_format(create_time, '%Y-%m') = date_format(now(), '%Y-%m')
    </select>

    <insert id="addDayOff">
        insert into t_attendance_personal(user_id, department_id, faculty_id, working_hours, status, create_time, update_time)
        values (#{userId}, #{departmentId}, #{facultyId}, 0, 0, now(), now())
    </insert>
</mapper>