<?xml version="1.0" encoding="utf8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="druid.properties"/>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <package name="cuit.pymjl.core.entity"/>
    </typeAliases>

    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
            <property name="helperDialect" value="mysql"/>
            <property name="offsetAsPageNum" value="true"/>
            <property name="rowBoundsWithCount" value="true"/>
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="true"/>
            <property name="supportMethodsArguments" value="true"/>
        </plugin>
    </plugins>

    <environments default="work">
        <environment id="work">
            <transactionManager type="JDBC"/>
            <dataSource type="cuit.pymjl.core.config.DruidDataSourceFactory">
                <property name="driver" value="${driverClassName}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <property name="initialSize" value="${initialSize}"/>
                <property name="maxActive" value="${maxActive}"/>
                <property name="minIdle" value="${minIdle}"/>
                <property name="filters" value="${filters}"/>
                <property name="maxWait" value="${maxWait}"/>
                <property name="poolPreparedStatements" value="${poolPreparedStatements}"/>
                <property name="maxPoolPreparedStatementPerConnectionSize"
                          value="${maxPoolPreparedStatementPerConnectionSize}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="cuit.pymjl.core.mapper.department"/>
        <package name="cuit.pymjl.core.mapper.user"/>
        <package name="cuit.pymjl.core.mapper.finance"/>
    </mappers>
</configuration>
